*.class
*.log
*.DS_Store

.idea*

# sbt specific
.cache
.history
.lib/
.venv/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/build.properties
project/plugins/project/
project/build.properties

# Scala-IDE specific
.scala_dependencies
.worksheet